[2017-04-09 03:20] caballa opened #11 "Integrate new DSA from seahorn"
The new DSA is available here https://github.com/seahorn/sea-dsa.

[2017-05-10 17:55] caballa commented on #9
Done!

[2017-05-18 06:34] caballa commented on #13
Yes, the code expects LLVM 3.6. With 3.8 is not expected to work. If you are familiar with LLVM source code porting shouldn't be hard. Maybe few hours. Port at least to 3.8 is on my TODO list, I just need some free cycles.

[2017-05-18 10:41] jcarlson23 commented on #13
ok, thanks!  I might start in on a 4.0 port then, see how much headway I can make - good way to learn the source as well I figure...

[2017-05-21 18:28] octomagon commented on #14
I know in LLVM 4.0 the NodeType becomes a NodeRef, which _HAS_ to be a pointer, so perhaps your indirection has some inconsistencies?

[2017-05-22 17:32] jcarlson23 commented on #14
No...  I don't think so, I tried changing back the NodeRef to a NodeType without a pointer and I got the same error (where I was expecting to see the static_assert error - as seen in the LLVM src).  I need to have a type for the function adapter I think, I'm just not that familiar with this pattern..  I need to brush on some STL...

[2017-05-22 20:49] jcarlson23 commented on #14
Alright I got this to compile as the NodeRef must be a pointer so I don't _think_ that the dereferencing is necessary or wanted... that said, we'll see when get around..  But for now it's compiling and I'm up to 15% of compilation.

[2017-06-27 14:49] caballa commented on #15
There is a method `to_linear_constraint_system` that does that.

On Jun 27, 2017 7:29 AM, "gaobo89" <notifications@github.com> wrote:

[2017-06-28 16:52] caballa commented on #15
@gaobo89: can I close the issue?

[2017-07-03 15:51] caballa opened #1 "Cannot build with shared libraries"
_From @caballa on April 9, 2017 8:40_

_Copied from original issue: caballa/crab-llvm#12_

[2017-07-03 15:52] caballa commented on #12
This issue was moved to seahorn/crab-llvm#1

[2017-07-03 15:52] caballa opened #2 "Integrate new DSA from seahorn"
_From @caballa on April 9, 2017 3:20_

The new DSA is available here https://github.com/seahorn/sea-dsa.

_Copied from original issue: caballa/crab-llvm#11_

[2017-07-03 15:52] caballa commented on #11
This issue was moved to seahorn/crab-llvm#2

[2017-07-03 15:52] #11 closed

[2017-07-03 15:53] caballa opened #3 "Add nullity analysis"
_From @caballa on October 15, 2016 23:55_

Add a nullity analysis. This requires to resolve first Issues [#4](https://github.com/caballa/crab-llvm/issues/4) and [#5](https://github.com/caballa/crab-llvm/issues/5)

_Copied from original issue: caballa/crab-llvm#7_

[2017-07-03 15:53] caballa commented on #7
This issue was moved to seahorn/crab-llvm#3

[2017-07-03 15:54] caballa opened #4 "Replace adapt-rtz domain with a more precise version"
_From @caballa on October 15, 2016 23:53_

It should be replaced by this domain described in Issue [#8](https://github.com/caballa/crab/issues/8).

Currenty, adapt-rtz (adaptive reduced product of terms with zones) is really rough. For a given program we determine (via liveness analysis) the maximum number of live variables and fix for the whole program whether running with rtz or intervals. We wo

[2017-07-03 15:54] caballa commented on #6
This issue was moved to seahorn/crab-llvm#4

[2017-07-03 15:54] caballa opened #5 "Integrate master branch from crab"
_From @caballa on October 15, 2016 23:46_

Crab master branch changes the CFG language so the class CfgBuilder needs to be updated accordingly.

_Copied from original issue: caballa/crab-llvm#5_

[2017-07-03 15:54] caballa commented on #5
This issue was moved to seahorn/crab-llvm#5

[2017-07-03 15:54] caballa opened #6 "Precise translation of pointer instructions"
_From @caballa on October 15, 2016 23:40_

The translation currently abstract pointers to their offsets.

_Copied from original issue: caballa/crab-llvm#4_

[2017-07-03 15:54] caballa commented on #4
This issue was moved to seahorn/crab-llvm#6

[2017-07-04 01:54] caballa commented on #16
For each function it outputs something following this grammar:

`(BASIC_BLOCK: "{" CONSTRAINTS "}")*`

`BASIC_BLOCK` is just the basic block name from the analyzed LLVM bitcode
`CONSTRAINTS` is a sequence (conjunction) of linear constraints. These are the constraints (invariants) that hold when the execution reaches the entry of `BASIC_BLOCK`.

For instance,

`.lr.ph : { x.0.i1- _3  = 1; -_1+_3+_4

[2017-07-04 01:59] caballa commented on #16
If you want to know how these LLVM variables are created you can add option `-oll=file.ll` and it will show the exact LLVM bitcode analyzed by crab-llvm. Then, all the variables that appear in the invariants should appear in `file.ll`. In that way, you can make sense of the invariants. But again, this doesn't solve the problem of mapping back to the C names but it will help

[2017-07-04 02:09] gaobo89 commented on #16
thank you so much, it is very clear, I will try your way and find the C names.

[2017-07-04 02:11] gaobo89 commented on #16
by the way, the .lcssa items don't mean the invariant all the time, just a normal variable in the output,right?

[2017-07-04 02:13] caballa commented on #16
yes, it's just a normal variable. This one is generated by the LCSSA pass.

[2017-07-18 16:30] caballa commented on #6
The solution is simply to translate all pointer operations (gep, load, store, etc) to crab pointer statements.

[2017-07-18 16:34] caballa opened #7 "Precise translation of boolean operations"
The solution is to translate all comparison instructions that do not feed branches and Boolean operations to crab Boolean operations. In that way, the abstract domain will decide what to do. Until now, we were assuming that the abstract domain does not have knowledge about Boolean operations so the translation tried to reduce all Boolean operations to expensive crab select statements.

[2017-07-18 16:37] caballa commented on #5
This will allow to solve issues #6  and #7.

[2017-07-19 20:35] caballa commented on #4
This issue is duplicated. See (https://github.com/seahorn/crab/issues/7)

[2017-07-19 20:35] #4 closed, assigned to caballa

[2017-07-20 17:07] caballa opened #8 "Support for multiple input files"
use `llvm-link` to produce a single `bc` file.

[2017-08-09 06:08] caballa commented on #7
Implemented here 26ff215a1167fc9e13f926783197c2f648870ca2

[2017-08-09 06:09] #7 closed, assigned to caballa

[2017-08-09 06:09] caballa commented on #5
Done.

[2017-08-09 06:09] #5 closed, assigned to caballa

[2017-08-09 06:12] caballa commented on #6
Done in commit 26ff215a1167fc9e13f926783197c2f648870ca2.

There are still some instructions to be translated, e.g., pointer comparisons but for now I close this issue. I will finish the translation at the same time I do issue #3.

[2017-08-09 06:12] #6 closed, assigned to caballa

[2017-08-09 06:35] caballa opened #9 "Segfault in crab-llvm-pp when LowerSwitch pass is executed"
The zip file contains the file and the command to reproduce the segfault.

[lower-switch-bug.zip](https://github.com/seahorn/crab-llvm/files/1210540/lower-switch-bug.zip)

[2017-08-09 07:02] caballa opened #10 "CRAB error because GMP z_number does not fit into a signed long integer"
`CRAB ERROR: mpz_class -9223372036854775809 does not fit into a signed long integer`

This happens with split-dbm domain. This is a well known limitation since the domain uses for efficiency signed long integer as DBM weights rather than unlimited precision z_number.

Attached a zip file to reproduce the problem:

[split-dbm-too-big-weight.zip](https://github.com/seahorn/crab-llvm/files/1210597/sp

[2017-08-18 02:02] ghost opened #12 "Cannot build crab-llvm due to error: could not find svn for checkout of llvm"
Hi,

I follow your tutorial at [https://github.com/seahorn/crab-llvm](https://github.com/seahorn/crab-llvm) to build crab-llvm but always encounter an issue at the command:  `cmake --build . --target crab && cmake ..`.

In brief, the error is: `  error: could not find svn for checkout of llvm`. Below is the detailed log:

[code]

The commands that I run successful is:
[code]

Could you advise whet

[2017-08-18 02:40] agurfinkel commented on #12
You need to have a subversion client (svn command) installed.
```sudo apt-get install subversion```
should do the trick.

[2017-08-18 02:40] #12 closed, assigned to nobody

[2017-08-18 03:23] ghost commented on #12
Thank you for your suggestion. I didn't realize that `llvm` use `svn` :D

[2017-08-18 08:22] ghost opened #13 "cannot build crab-llvm due to an ocaml-llvm binding issue"
Hi,

When building crab-llvm, I encountered an error at the step:

`cmake --build . --target llvm && cmake ..`

The reason is due to the compilation of ocaml-llvm binding. Here is the detailed log produced in the file `crab-llvm/build/llvm-prefix/src/llvm-stamp/llvm-build-err.log`.

[code]

This issue occurs with both OCaml 4.02.3 and OCaml 4.04.0 I googled for the solution of this issue but there

[2017-08-18 16:11] caballa commented on #13
Crab-llvm does not use ocaml bindings so the solution is to disable it.
I'm afraid that I've not been able to find the `cmake` option to disable it but I'll keep trying.

In any case, my understanding was that llvm 3.6 disables ocaml bindings by default
    https://www.wzdftpd.net/blog/ocaml-llvm-01.html
but I could be wrong.

Meanwhile, you can modify by-hand the file: `build/llvm-prefix/src/llvm

[2017-08-19 19:45] caballa commented on #13
Commit f25e469e8feb868645528e0e35905fda2d96fe42 should fix your problem.
Let me know if it does.

[2017-08-21 01:51] ghost commented on #13
Thank you for the information! I build the latest version https://github.com/seahorn/crab-llvm/commit/c5a3e7f9db5fba993b56197a0f9e2dcc00d003e3 of `crab-llvm` by cloning a fresh copy and compiling from scratch, but the OCaml-binding error still occurs.

[code]

I also have other versions of llvm installed on my machine: versions 2.9, 3.2, 3.9, 4.0. Do you think whether this could a reason for the c

[2017-08-21 01:56] agurfinkel commented on #13
more likely the reason is that you have ocaml and llvm decides to build
ocaml bindings for you. We don't generally use ocaml, so we don't have it
on our system and this problem has gone unnoticed. Disabling ocaml, either
temporary on your machine or configuring  llvm to not build ocaml bindings
should solve it.

On Sun, Aug 20, 2017 at 21:52 tddsg <notifications@github.com> wrote:

--
On the move

[2017-08-21 01:59] caballa commented on #13
The commit f25e469e8feb868645528e0e35905fda2d96fe42 was trying to tell LLVM not to build ocaml bindings but you say it didn't work. I'm afraid that you will need to disable ocaml temporary while building llvm.

[2017-08-21 02:05] ghost commented on #13
Thanks for the update! I try your manual solution to modify the file `build/llvm-prefix/src/llvm-build/CMakeLists.txt` but it seems that file doesn't exist in the `llvm-build` folder.

I see only the file `build/llvm-prefix/src/llvm-build/CMakeCache.txt`, but it is override every time I compile, hence modify the file `CMakeCache.txt` doesn't work either.

[2017-08-21 02:07] caballa commented on #13
Why not make sure that ocaml cannot be found? i.e., make sure it's not in PATH

[2017-08-21 02:07] agurfinkel commented on #13
the file should be in the source, not the build directory. It would be
under `ext/llvm/CMakeLists.txt`

On Sun, Aug 20, 2017 at 10:05 PM, tddsg <notifications@github.com> wrote:

[2017-08-21 04:21] ghost commented on #13
Thank you all for your kind helps! I finally can compile `crab-llvm` by removing OCaml from PATH.

@agurfinkel : I also commented out the bindings setting in `ext/llvm/CMakeLists.txt` but it didn't work.

[2017-08-21 16:11] caballa commented on #13
I'll close this issue even if it has not been solved properly.

[2017-08-21 16:11] #13 closed, assigned to nobody

[2017-08-22 04:25] ghost opened #14 "Is it possible to integrate crab-llvm at the library level?"
Hi,

I play around with your `crab-llvm` tool and see that it can generate many interesting invariants, such as the Apron's polka or the reduced product of intervals and congruences domain.

I would like to integrate and test it further in my project, which also uses LLVM infrastructure (but version 3.2), could you advise me a starting point so that I can pass the CFG (llvm data structures) in my

[2017-08-22 04:31] caballa commented on #14
The only solution I can see is to port your project to llvm 3.6.
I ported recently `crab-llvm` from 3.6 to 3.8 and it was relatively easy.
From 3.2 to 3.6 it will be harder but I think it's something you would like to do anyway. The  3.2 version is really old.

Once your project is in 3.6 you can call `crab-llvm` via LLVM pass manager or without it.

Regarding the license question I think they are

[2017-08-22 04:43] ghost commented on #14
Thank you for your answer! Porting `llvm` from 3.2 to 3.6 is indeed tricky, but I will try.

[2017-08-22 04:48] caballa commented on #14
Sometimes it's better to port in several steps. For instance, you might try from 3.2 to 3.4 first and then from 3.4 to 3.6. To try directly from 3.2 to 3.6 might be too hard.

[2017-11-28 02:25] caballa opened #15 "Add array graph domain"

[2017-12-18 19:03] caballa commented on #9
This problem is solved after commit 29575c7464e8d46041d0e46466ccd095ea30e783.

[2017-12-18 19:03] #9 closed, assigned to caballa

[2018-03-29 18:51] caballa opened #16 "Possibly stack overflow while computing WTO of a large CFG"
[Problem07_label52_true-unreach-call.pp.bc.zip](https://github.com/seahorn/crab-llvm/files/1861485/Problem07_label52_true-unreach-call.pp.bc.zip)

Command:

[code]

silently produces signal 11 (SEGFAULT).
I did some gdb and it seems that we run out of stack while computing WTO using recursion.

[2018-04-11 16:07] caballa commented on #16
I moved this issue to crab repository.

[2018-04-11 16:07] #16 closed, assigned to caballa

[2018-04-11 21:09] caballa commented on #10
The solution to avoid this problem is to change in `include/crab_domains.hh`:

` typedef SDBM_impl::DefaultParams<number_t> SplitDBMGraph;
  typedef SplitDBM<number_t, varname_t, SplitDBMGraph> BASE(split_dbm_domain_t);
`
with

` typedef SDBM_impl::BigNumDefaultParams<number_t> SplitDBMGraph;
  typedef SplitDBM<number_t, varname_t, SplitDBMGraph> BASE(split_dbm_domain_t);
`
This will use bignums a

[2018-06-13 03:27] #14 closed, assigned to nobody

[2018-07-31 14:53] chkl opened #18 "PK domain is sometimes less precise than int?"
Hi everyone,

I found a few interesting cases in which crab using the `pk` domain is less precise than when using the `int` domain. One example:
[code]
I invoked crab with the following parameters:
` ./crabllvm.py -m 32 --crab-inter --crab-check=assert --crab-dom=int`
For which the output ends in
[code]
Now, if switch to the `pk` domain (`--crab-dom=pk`), the output changes to
[code]
Is there are

[2018-07-31 16:33] caballa commented on #18
AFIK, this is not a bug. In fact, this kind of loss of precision is well known for the pk domain.  Although in theory pk is strictly more precise than intervals, in practice some abstract operations (mainly widening) can cause the opposite.
I recommend you to read this great paper [Stratified Static Analysis Based on Variable Dependencies](https://arxiv.org/pdf/1109.2405.pdf) by David Monniaux and

[2018-07-31 16:35] caballa commented on #18
I just found a more recent paper [Experimental Evaluation of Numerical Domains
for Inferring Ranges](https://reader.elsevier.com/reader/sd/F8323E92E8F2774F1962192B6DE8518223D56E4F3ABE960CDA2AFF171A946DF5FBA04AAEA28DE31DCF9E337C251CC181) by Amato and Rubino discussing the same issue.

[2018-07-31 17:00] caballa opened #19 "Add array expansion domain"

[2018-08-01 09:39] chkl commented on #18
Thank you very much for the explanation and the paper recommendations.

[2018-08-01 09:39] #18 closed, assigned to nobody

[2018-08-08 07:48] chkl opened #20 "Unsoundness with recursive functions"
Hi,
I was wondering whether crab-llvm handles recursive functions. Consider the following program:
[code]
`./crabllvm.py -m 32 --crab-inter --crab-check=assert --crab-dom=int /database/confrontation/crab/fibo.c` yields
[code]

Another question, and only slightly related: Do crab-llvm and seahorn use the same frontend? Because as discussed in https://github.com/seahorn/seahorn/issues/152, seahorn d

[2018-08-08 18:00] caballa commented on #20
There was a bug in the code. It has been fixed in crab commit 11fffc78ff7851fa950953a9fd31c980dece8a79.
You need to update the subdirectory `crab` with `git pull origin master`.
Regarding undefined behavior, the frontend of crab-llvm is different from the one from seahorn. They share a lot of stuff but there are differences. Thus, it's not surprising they behave differently in presence of undefine

[2018-08-08 18:00] #20 closed, assigned to nobody

[2018-08-17 09:47] chkl commented on #18
I have a follow-up question on that: What about the octagon domain? The two papers you mentioned afaik don't report any imprecision with the octagon domain. I am asking because I found an example where octagon is less precise than integers (https://gist.github.com/chkl/2fc864b6f0782f49cc10c62df3fbc499, It's an ugly example using auto-generated code, I tried to slice away the irrelevant parts)

[2018-08-17 15:35] caballa commented on #18
One common reason is disequalities (i.e., !=). The octagon domain usually ignores disequalities while intervals handle some. For instance, if you have the interval x = [0,10] and then the constraint x != 10 then intervals will be able to say that x = [0,9]. However, octagons probably will still say 0 <= x <= 10.

[2018-09-18 17:40] caballa opened #21 "Port to LLVM 5.0"
- [x] Ported code in branch `dev-llvm-5.0`
- [x] Pass all tests
- [x] Update .travis to download llvm/clang 5.0

[2018-10-20 18:56] skkeem opened #22 "ELINA(--crab-dom=opt) uses octagon instead of opt_octagon"
Given the description of crab options, I expected crab-llvm to use optimized octagon. This seems to be not the case in the current implementation.

[2018-10-20 19:32] caballa commented on #22
Yes, I should have updated the description. The problem is that the Elina version used by crab-llvm is a pretty old one. In that version I found some termination problems so I decided to switch to Apron. The solution here is to switch to the latest Elina version. It has been on my TODO list for a while. It should be straightforward but didn't have time. You are the first person complaining so mayb

[2018-11-10 00:49] caballa commented on #22
Elina has been already integrated. More comments in https://github.com/seahorn/crab-llvm/pull/23

[2018-11-10 00:49] #22 closed, assigned to nobody

[2018-11-17 08:29] tregua87 opened #24 "install clang-3.8"
I am experimenting with crab-llvm.

I installed crab llvm by following the guide in the repo, everything worked well.

However, I have some trouble with clang 3.8.

It is not clear whether I should install clang 3.8 from scratch (and also a parallel llvm installation), or else I should refer to the custom clang repo here (https://github.com/seahorn/clang).

Currently, I am working with Ubuntu 18.0

[2018-11-17 08:41] caballa commented on #24
For Ubuntu 18.04 you would need to install clang from sources (http://releases.llvm.org/download.html)

You can do that or you can try the branch `dev-llvm-5.0` That one requires clang 5.0 which you should be able to install via apt.

[2018-11-17 08:44] tregua87 commented on #24
Thank caballa.

I wonder whether dev-llvm-5.0 is stable enough.

I should deal with function pointers.

[2018-11-17 10:53] caballa commented on #24
crab-llvm relies of a pointer analysis that is run as a pre-analysis step to resolve indirect calls through function pointers. You will need to enable the option `--devirt`. That part shouldn't differ from the main branch.

[2018-11-18 02:45] tregua87 commented on #24
Thanks, I managed to compile on dev-llvm-5.0.

**disclaimer:** If the following question is off-topic, I will be happy to open a new issue. Just let me know.

So, my environment now is:
- Ubuntu 18.04.
- clang-5.0 (from apt).
- crab-llvm on dev-llvm-5.0 branch.

Moreover, I compiled crab by issuing the following commands (by setting a proper value for \_DIR\_):
[code]

I tried to analyze this exam

[2018-11-21 02:24] caballa opened #25 "Resolving indirect calls"
So, my environment now is:
- Ubuntu 18.04.
- clang-5.0 (from apt).
- crab-llvm on dev-llvm-5.0 branch.

Moreover, I compiled crab by issuing the following commands (by setting a proper value for \_DIR\_):
[code]

I tried to analyze this example, namely `test.c`:
[code]

By running:
`crabllvm.py test.c --devirt-functions --crab-track=ptr  --lower-select`

The output is:
[code]

My doubt is double:

[2018-11-21 02:24] #24 closed, assigned to nobody

[2018-11-21 03:40] caballa commented on #25
I've realized that the option `--devirt-functions` was not using LLVM DSA to resolve indirect calls. It did that in the past but it was changed some time ago. Instead, it was using types to resolve calls. I also realized there were some bugs.
I've committed some changes and changed the option `--devirt-functions`. Please read the message of the commit 4c1edd2d391c885856cf5f207fa8a4a58814857f

Comi

[2018-11-21 03:42] caballa commented on #24
Hi Flavio,

Please go to issue #25 to follow the discussion about indirect calls.

[2018-11-23 02:36] tregua87 commented on #25
Hi @caballa !
Thank you very much for your support.
I guess this tool is exactly what I am looking for :)

[2018-12-03 21:39] caballa commented on #2
Done in commit 89752cc123e40b183515faba186deb16d6734fcd

[2018-12-03 21:39] #2 closed, assigned to caballa

[2018-12-04 00:07] #25 closed, assigned to nobody

[2018-12-29 03:47] agurfinkel opened #26 "Wrong order of include directories when build from SeaHorn"
When crab-llvm is include in SeaHorn as a sub-project it looks first inside the installed include directories as opposed to its source location. Every time the headers change, the build fails because it finds the old header files first.

Current work-around is to delete `BUILD_DIR/crab_llvm` and `BUILD_DIR/crab` manually.

It would be more convenient if the order of include directories is fixed.

[2019-01-11 18:19] caballa commented on #21
The tests pass but for instance `ssh-simplified` benchmarks take now around 100s to verify all but with llvm 3.8 it tooks few seconds ( < 5 seconds).

[2019-01-11 20:06] agurfinkel commented on #21
Is that due to LLVM or Spacer?

[2019-01-11 20:50] caballa commented on #21
LLVM

[2019-01-12 02:49] caballa commented on #26
@agurfinkel seems to fix the problem here 2977041a9329a25e898a4ffb1ba4c6c505a2fae8.
I close it for now.

[2019-01-12 02:49] #26 closed, assigned to caballa

[2019-04-11 21:26] caballa commented on #10
Since LLVM 5.0 this problem should be gone. First, it seems that Clang/LLVM 5.0 does not produce such a large numbers. Second, we have added an option `--crab-enable-bignums` which is false by default. If this option is false, the translation from LLVM bitcode to crab havocs any operation whose operand cannot be represented as a signed integer in 64 bits.

[2019-04-11 21:26] #10 closed, assigned to nobody

[2019-04-14 01:28] z971586668 opened #30 "ICE error with the head of master tree"
Hi ,
I've got this ICE error when compling the head master tree,
my gcc version is 5.5.0
[ 19%] Building CXX object lib/CrabLlvm/CMakeFiles/CrabLlvmInstrumentation.dir/InsertInvariants.cc.o

c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-5/README.Bugs> for instructions.
lib/CrabLlvm/CMa

[2019-04-14 03:59] caballa commented on #30
I'm afraid that I don't know what can cause this problem. Maybe if you run with verbose mode (e.g., `make VERBOSE=1`) we can know more. The gcc version used in travis is an old one (4.8). Not sure if that could be the problem. In any case, the `master` branch is not the default one. If you need LLVM 3.8 for some reason, then use the branch `dev`. If you don't care about the LLVM version, please us

[2019-04-14 04:01] caballa commented on #30
If you just want to play with crabllvm you can also download a docker image from
https://hub.docker.com/r/seahorn/crabllvm_llvm_5.0

[2019-04-14 04:06] z971586668 commented on #30
Thank you very much for your answer.
I've changed to gcc-4.8 and extend the memory unit for my VM, the ICE problem has gone.
I am trying to use seahorn, and crab-llvm as an extra, it failed the multiple times during the compling...
I am actually still strugling with the compling of seahorn, but I think crab-llvm should no be a problem any more.

[2019-04-14 04:06] #30 closed, assigned to nobody

[2019-04-14 04:23] caballa commented on #30
Let us know if you still have problems with seahorn

[2019-04-14 12:36] agurfinkel commented on #30
It is advisable to use our docker container, both as a binary and as a build system (instead of the vm)

[2019-04-14 17:53] caballa commented on #21
I've been looking at this. The test `s3_srvr_4_true-unreach-call.cil.c` is a good example.
With llvm-3.8 we prove the program in 3 seconds. With llvm-5.0 we need 29 seconds.
It's important to mention that all ssh-simplified tests use boxes.
If we run e.g., zones the difference between LLVM versions are negligible.

I've been looking at the LLVM bitcode generated by both versions. It's not clear bu

[2019-04-14 19:18] agurfinkel commented on #21
I can take another look , but not in the immediate future. Usually
InstCombine was easy to debug if you have an idea what you are looking for.
But I have not tried to do it for Crab engine before.

On Sun, Apr 14, 2019 at 13:53 Jorge Navas <notifications@github.com> wrote:

--
On the move ...

[2019-04-17 19:44] z971586668 commented on #30
Hi,
I am trying to install the tool using seahorn and crab-llvm
and I think there is a question related to crab-llvm
/home/ylzhang/SynthHorn/seahorn/crab-llvm/crab/lib/stats.cpp:13:26: error: no ‘void crab::CrabStats::reset()’ member function declared in class ‘crab::CrabStats’
   void CrabStats::reset ()

my g++ version is 4.8.4
and I don't think I have this error two days ago...

Could you pleas

[2019-04-17 20:14] caballa commented on #30
I looks some mismatch between the header file `stats.hpp` and `stats.cpp` which shouldn't happen. Are you trying a fresh installation?
At some point, `stats.hpp` changed location but cmake cache might have the old location which would explain the mismatch between `stats.hpp` and `stats.cpp`

[2019-04-17 20:32] z971586668 commented on #30
Yes, I am trying a fresh installation now,
the mismatch seems doesn't happen again.
Thank you very much !

On 4/17/2019 15:14，Jorge Navas<notifications@github.com> wrote：

I looks some mismatch between the header file stats.hpp and stats.cpp which shouldn't happen. Are you trying a fresh installation?

—
You are receiving this because you modified the open/close state.
Reply to this email directly

[2019-04-18 14:33] z971586668 commented on #30
Hi,
I am still trying to install LinearArbitrary, and there is something wrong with crab-llvm when executing the
cmake --build . --target install.
It complains that "crab_os" is not defined, but "crab_os" is defined in the related .hpp file.
Besides crab--llvm, everything is good.
I wonder can I compile crab-llvm outside of LinearArbitrary/build and only use the result in LinearArbitrary?

Or, wha

[2019-04-18 15:12] z971586668 commented on #30
Hi,
Here is a piece of errors when compiling crab-llvm
/home/ylzhang/SynthHorn/seahorn/crab-llvm/crab/lib/stats.cpp:13:26: error: no ‘void crab::CrabStats::reset()’ member function declared in class ‘crab::CrabStats’
   void CrabStats::reset () {
                          ^
/home/ylzhang/SynthHorn/seahorn/crab-llvm/crab/lib/stats.cpp:38:26: error: variable or field ‘Print’ declared void
   void Cr

[2019-04-18 15:13] caballa commented on #30
What is LinearArbitrary? I googled it and found this https://github.com/GaloisInc/LinearArbitrary-SeaHorn/?

LinearArbitrary seems to work on LLVM 3.6.
master branch of seahorn and crab-llvm work on 3.8 and we will move soon to 5.0.
The file CfgConfig.h does not exist in crab-llvm but it did long time ago. So I think it's trying to get an old version of crab-llvm.

[2019-04-18 15:16] z971586668 commented on #30
Yes, that's the project.
And sorry, I should not send the email to you, please ignore the following email also.
And I can compile crab-llvm perfectly, thank you very much!

Sorry for the inconvenience again.

All the best,
Yueling

On 4/18/2019 10:13，Jorge Navas<notifications@github.com> wrote：

What is LinearArbitrary? I googled it and found this https://github.com/GaloisInc/LinearArbitrary-SeaHo

[2019-04-18 15:17] caballa commented on #30
Btw, for seahorn and crab you can download the docker images here:

https://hub.docker.com/r/seahorn/seahorn-llvm5
https://hub.docker.com/r/seahorn/crabllvm_llvm_5.0

[2019-04-18 15:17] z971586668 commented on #30
Hi,
I am still trying to install LinearArbitrary, and there is something wrong with crab-llvm when executing the
cmake --build . --target install.
It complains that "crab_os" is not defined, but "crab_os" is defined in the related .hpp file.
Besides crab--llvm, everything is good.
I wonder can I compile crab-llvm outside of LinearArbitrary/build and only use the result in LinearArbitrary?

Or, wha

[2019-04-20 22:36] caballa commented on #21
It turns out that the problem was simply that the loops were not in canonical form. This made more difficult the analysis for Boxes. By default we analyze programs with -O0 but with llvm 3.8 somebody was triggering similifyLoops but with llvm 5.0 we are not unless with run with -O2/O3 or some extra option ( e.g.,`llvm-pp-loops`).

[2019-04-20 22:36] #21 closed, assigned to caballa

[2019-05-16 13:58] Liblor opened #31 "[llvm-dis] Invalid instruction with no BB"
Hello,

I get the following error if I call `llvm-dis` after running crab-llvm on the c code below:
`llvm-dis: error: Invalid instruction with no BB (Producer: 'LLVM5.0.2' Reader: 'LLVM 5.0.2')`

**Information to reproduce the bug:**
Crab-llvm: Docker build (i.e. with apron)

[code]
example.c:
[code]
How to reproduce:
[code]

The error occurred with the following domains:
* `pk`
* `term-int`
* `te

[2019-05-16 17:06] caballa commented on #31
Thanks for reporting this problem. I've committed a fix for this.
I'll close this issue for now. Let me know if you encounter more problems.

[2019-05-16 17:06] #31 closed, assigned to nobody

[2019-05-17 09:23] Liblor opened #32 "Invariants aren't inserted into LLVM bitcode"
Hello again :)

I think that some invariants aren't inserted into the bitcode any more since the last update.

**Source file:** [ex.c](https://gist.github.com/Liblor/c4677c899a4252c9c4df3a977c84d25d#file-ex-c)
**Crabllvm output:** [crabllvm_log.txt](https://gist.github.com/Liblor/c4677c899a4252c9c4df3a977c84d25d#file-crabllvm_log-txt)
**llvm code - old version:** [old_main.crab.ll](https://gist.gi

[2019-05-17 15:59] caballa commented on #32
I have added an option `--print-after-all` that shows the bitcode after each transformation.
In this case, the invariants are inserted. But after that, we run the pass `InstCombine` to simplify those invariants. Since most of these invariants are trivial (i.e., can be inferred by local reasoning at the basic block level), `InstCombine` simplifies them to true.

This is what  `--print-after-all` pr

[2019-05-17 16:01] Liblor commented on #32
Ah I see, thanks for the quick response!

[2019-05-17 16:01] #32 closed, assigned to nobody

[2019-05-27 20:25] shankarapailoor opened #33 "LLVM-8.0 use sea-dsa to resolve indirect calls"
Hi,

I was looking at #25 and I noticed you added dsa support to resolve indirect calls. However, dsa has not been ported to 8.0 but sea-dsa has. Would it be possible to use sea-dsa to resolve indirect calls?

[2019-05-27 20:29] caballa commented on #33
Unfortunately, sea-dsa does not resolve indirect calls at this point although it's something I want to do soon.
Currently, only llvm-dsa (old poolalloc implementation) resolves indirect calls. However, llvm-dsa has not been ported to  8.0 although it should be pretty easy to do that.

[2019-05-28 03:26] shankarapailoor commented on #33
Thanks a lot!

[2019-05-28 03:26] #33 closed, assigned to nobody

[2019-05-30 20:44] shankarapailoor opened #34 "Crab Error: CFG has no exit"
Hi,

I'm running crab-llvm and trying to insert invariants in the bitcode and i'm getting an error: Crab Error: CFG has no exit but I'm not sure why.

[Here](https://drive.google.com/file/d/1lVjo8Op8zKKSb3oc4Mhgj5zNN8gvgX3K/view?usp=sharing) is the llvm bitcode and i first run crabllvm-pp as follows

[code]

Afterwards I run:

[code]

This produces the following:

[code]

Any assistance would be h

[2019-05-30 23:30] caballa commented on #34
Sorry about that. I've committed a fix.

[2019-05-31 01:26] shankarapailoor commented on #34
Thanks for the fix but I am getting an error when trying to insert the invariants. In particular, I'm running the following command

[code]

[code]

[2019-05-31 05:21] caballa commented on #34
I could not reproduce your error. However, I ran the `VerifierPass` after the invariants are inserted in the bitcode and I get this error:

[code]

This kind of error happens typically when the LLVM version of the bitcode and the version used by crab-llvm are different. The master branch must take LLVM 5.0. However, I checked and your bitcode was generated with clang 8.0.

Can you generate the bit

[2019-05-31 11:37] shankarapailoor commented on #34
Hi,

I was using the llvm-8.0 branch so I applied your fix there and got the error. I can try with 5.0 but do you see the error when you use the 8.0 branch?

[2019-05-31 19:26] caballa commented on #34
Committed another fix. The branch `llvm-8.0` is already sync with `master`.

[2019-06-01 18:33] shankarapailoor commented on #34
Thanks! It seems to be fixed. Appreciate the help.

[2019-06-01 18:33] #34 closed, assigned to nobody

[2019-06-03 22:04] shankarapailoor opened #35 "Crab CFG has no exit"
Hi!

Thanks for your help on previous issues. I'm on llvm-8.0 branch and I'm getting the error CRAB ERROR: CFG has no exit when running crabllvm on [this](https://drive.google.com/file/d/17X0iN6B6eZJkz5fpFVc0nuctjnGirPem/view?usp=sharing) file.

My specific commands are:

[code]

[2019-06-04 02:29] shankarapailoor opened #36 "Not Handled Expression"
Hi,

I'm running crab-llvm on llvm-8.0. I am running the anlaysis on the following [file](https://drive.google.com/open?id=1CS2j-8J76mACje6nKDoElVk8SALfZPQ8) and I get this error:

[code]

My command is:

[code]

Thanks!

[2019-06-04 02:55] caballa commented on #36
I think you forgot to share the bitcode

[2019-06-04 05:15] caballa commented on #35
I've committed a fix in crab (59b3d5b0ded62f97d0eb0b644692befe7be3c215)  that hopefully fixes this problem and similar ones.

Note that you need to update crab. You can do the following:

[code]

[2019-06-04 05:17] caballa commented on #35
Unrelated topic: using `--crab-lower-unsigned-icmp`  might improve precision of the analysis.

[2019-06-04 11:55] shankarapailoor commented on #36
Whoops I edited my original post to include the file sorry.

[2019-06-05 03:42] shankarapailoor commented on #35
Awesome thanks! It seems to work.

[2019-06-05 03:42] #35 closed, assigned to caballa

[2019-06-05 13:54] caballa commented on #36
I committed a fix for this. You need to update  the  `sea-dsa` component.

[2019-06-05 15:52] shankarapailoor commented on #36
Thanks!

[2019-06-05 15:52] #36 closed, assigned to caballa

[2019-06-05 21:22] shankarapailoor opened #37 "Seemingly Spurious Bot Invariants Generated"
Hi!

I'm seeing a lot of bottom invariants generated when running crab-llvm from the following [file](https://drive.google.com/file/d/17X0iN6B6eZJkz5fpFVc0nuctjnGirPem/view?usp=sharing). This seems unsound as the program can reach a lot of functions on legitimate inputs in particular function ```do_authentication2```. Any assistance would be great!

[code]

[2019-06-05 21:23] caballa commented on #37
full command?

[2019-06-05 21:50] shankarapailoor commented on #37
Updated

[2019-06-09 19:49] caballa commented on #37
@shankarapailoor: the problem should be fixed. Please update crab and let me know if you still encounter problems.

[2019-06-09 23:52] shankarapailoor commented on #37
@caballa seems fixed to me! Thanks!

[2019-06-09 23:52] #37 closed, assigned to caballa

[2019-06-20 15:29] shankarapailoor opened #38 "Interprocedural Invariants"
Hi,

I have a simple C program like the following:

[code]

I generated the IR for this program and ran crabllvm with the following arguments:

[code]

I expected crab to say that ```a = [4, 4]``` holds at the entry to ```add``` but it says that no invariants hold. Am I correct in this expectation? Thanks!

EDIT: It seems if we change the program to do just ```add(4)``` instead of ```add(x)``` I s

[2019-06-20 16:12] caballa commented on #38
If I analyze directly your C program with `crabllvm.py` using this command
` crabllvm.py -O0 test-inter.c --crab-inter --crab-track=arr --crab-heap-analysis=cs-sea-dsa` I get the expected result:

[code]

Maybe your bitcode is optimized? Can you share your bitcode?

[2019-06-20 16:47] shankarapailoor commented on #38
Hi!

[Here](https://drive.google.com/file/d/1nb4TcNJVHaivAleDh0oTvBkhMq7s2WzY/view?usp=sharing) is the bitcode.

[2019-06-20 18:20] caballa commented on #38
The short answer is that your bitcode has the attribute `optnone` in all functions.
As a result, the pass `mem2reg` has no effect. This pass is the one that converts the program in SSA form and more importantly for crab, lowers stack variables to LLVM registers.

Having said this, crab can (in principle) handle code even if `mem2reg` is not run although things will be harder. I explain below (*) t

[2019-06-20 19:38] shankarapailoor commented on #38
Thanks alot for the explanation! Following your instructions I see the expected invariant at the function entry.

[2019-06-20 19:38] #38 closed, assigned to nobody

[2019-06-30 00:45] shankarapailoor opened #39 "Segmentation Fault During Analysis"
Hi!

I'm running crab-llvm with the following commands on [this](https://drive.google.com/file/d/1H3hzppZwi-Rqe6brna-dpGthHkUzfuDj/view?usp=sharing) llvm-bitcode and it gives me the crash:

Command:

[code]

[code]

[2019-06-30 03:09] caballa commented on #39
Thank you for reporting it.
Please, update crab.

[2019-07-02 02:35] shankarapailoor commented on #39
Thanks so much!

[2019-07-02 02:35] #39 closed, assigned to caballa

[2019-07-16 14:48] shankarapailoor opened #41 "Devirtualization Error"
Hi,

I'm running crabllvm-pp on [this](https://drive.google.com/open?id=1ZBn3SFC8j-vfeGUxYYKNATJJtY6Lez1S) bitcode with the following commands:

[code]

However, I get the following error:

[code]

I observed that during the devirtualization that crabllvm is reusing the bounce function:

[code]

It seems there is this additional i32 argument which shouldn't be there.

[2019-07-17 22:00] caballa commented on #41
I committed a fix. The problem is related to vararg functions. For now, I don't create bounce functions for those. Let me know if this is a problem.

[2019-07-18 17:48] shankarapailoor commented on #41
looks good! thanks!

[2019-07-18 17:48] #41 closed, assigned to caballa

[2019-07-18 17:53] shankarapailoor opened #42 "Sea-DSA uses up a lot of memory"
Hi,

This is more of a question but I'm running crab-llvm on a moderately sized llvm bitcode file [here](https://drive.google.com/file/d/1-moOBrRnQHUsGrZkz_My4yyVAnlkrbEw/view?usp=sharing) and it seems to use up 150GB of memory (don't know the upper limit as it always uses up too much). I tried to use valgrind but it was way too slow. Does what I say seem possible?

My command is:

[code]

Regards

[2019-09-09 17:21] caballa commented on #1
Closed by commit d2ba1ec9aeed565cf48e4b6c3b417035468c632a

[2019-09-09 17:21] #1 closed, assigned to caballa

[2019-10-16 12:21] agurfinkel opened #44 "CMake Option Names"
Unify all top-level option name. Options related to `crab-llvm` should start with `CLAM`, options related to `crab` should start with `CRAB`. Options in `crab-llvm` that relate on how clam configures crab should start with `CLAM_CRAB_`.

For example,
`USE_COTIRE` --> `CLAM_USE_COTIRE`
`BUILD_CRABLLVM_LIBS_SHARED` --> 'CLAM_SHARED_LIBS`
`ALL_CRAB_DOMAINS` --> `CLAM_CRAB_ENABLE_ALL_DOMAINS`
`ENABLE_

[2019-10-17 00:54] #44 closed, assigned to nobody

[2019-10-21 18:05] zunchenhuang opened #45 "Specify entry point and auto generate nd values"
Dear crab-llvm researchers,

I went through the possible options and the test files in the repo. They all start with the main function. I wonder if there a way to specify entry point and auto generate nd values against a testing function? For example, specify the entry point for **"int get_sign(int test)**" function, and auto generate a **nd value** for **int test**. If there is no way to do in cu

[2019-10-21 18:09] caballa commented on #45
By default the analysis is intra-procedural so it should be able to analyze a LLVM module without a main. For external functions, if you declare the function as external `extern int get_sign(...)` the analysis will treat `get_sign` as a function that returns non-deterministically an integer.

[2019-10-21 18:25] zunchenhuang commented on #45
@caballa

So if I want to test again `get_sign`, I have to call it in some other locations and pass some **nd values** from its signature?

[2019-10-21 18:30] caballa commented on #45
Ah, I see what you want to do.
The easiest way is to write a LLVM pass that creates a main function that calls the function you want to test and create nondeterministic values for that function. It's basically what you suggested.

We do already that in SeaHorn. Take a look at this pass
https://github.com/seahorn/seahorn/blob/master/lib/Transforms/Utils/DummyMainFunction.cc

[2019-10-21 18:33] zunchenhuang commented on #45
@caballa Thanks a lot! Since I have to do it both for **crab** and **seahorn** for my current project, this is really a time saver.

[2019-10-21 21:57] zunchenhuang commented on #45
@caballa After I played for a while in **seahorn**, I still encouter some issues:

Firstly I run the
`/home/phoebus/Tools/seahorn/build/run/bin/sea pf -m64 combined.bc --cex=cex.ll` to generate the counter example, I checked this part and `cex.ll` seems good to me.
Then I ran the followings:
[code]
Since there is no main, I have to run this third to the last one as this:
`/home/phoebus/Tools/seaho

[2019-10-30 21:04] #45 closed, assigned to nobody

[2019-11-02 10:14] cs1160701 opened #46 "Docker Pull not Working"
I was trying to install from docker using the suggested command:
` docker pull seahorn/clam_5.0:latest`
But I keep getting the following error
`Error response from daemon: manifest for seahorn/clam_5.0:latest not found: manifest unknown: manifest unknown`
I am using Docker version 19.03.4, build 9013bf583a on Debian GNU/Linux 9 (stretch)

[2019-11-02 16:37] caballa commented on #46
There is no `latest` tag.
If you look at https://cloud.docker.com/u/seahorn/repository/docker/seahorn/clam_5.0
you will see the only tag is `xenial`.

[2019-11-02 16:50] cs1160701 commented on #46
Thanks.

[2019-11-02 16:50] #46 closed, assigned to nobody

[2020-04-05 01:07] caballa commented on #19
Done here bb0c3c057a42245bc3f0dee547548b81d6833b6c

[2020-04-05 01:07] #19 closed, assigned to caballa

[2020-06-07 17:54] caballa commented on #3
This will be replaced soon by the new reference domain.

[2020-06-07 17:54] #3 closed, assigned to caballa

[2020-06-19 01:02] chenxi-yang opened #48 "fatal: Could not find the clam executable"
Hi,

I am using Mac OSX catalina and follow the installation instruction.
`
 mkdir build && cd build
 cmake -DCMAKE_INSTALL_PREFIX=_DIR_ -DCRAB_USE_LDD=ON -DCRAB_USE_APRON=ON ../
 cmake --build . --target extra
 cmake --build . --target crab && cmake ..
 cmake --build . --target ldd && cmake ..
 cmake --build . --target apron && cmake ..
 cmake --build . --target llvm && cmake ..
 cmake --build .

[2020-06-19 01:06] caballa commented on #48
You need to add  `-DCMAKE_INSTALL_PREFIX=_DIR_ `  into the environment variable `PATH`. I mean `_DIR_`

[2020-06-19 01:08] caballa commented on #48
Also for running the tests you also need to install the python packages `lit` and `OutputCheck`
(https://github.com/seahorn/crab-llvm#requirements)

[2020-06-19 03:17] chenxi-yang commented on #48
I installed python packages, execute the following command and install again
export PATH=$PATH:[workspace]/crab-llvm/build/

but the error still occurs

[2020-06-19 04:02] caballa commented on #48
`[workspace]/crab-llvm/build/` is not the right place. This is the build directory.

Did you do `cmake --build . --target install` or `make install` ?
After that, you need to add to `PATH` the directory `_DIR_/bin`

[2020-06-19 04:06] chenxi-yang commented on #48
Got! I used `cmake --build . --target install`
I added _DIR_/bin to PATH, and another error occurs, no other log appears this time
`lit: [workspace]/crab-llvm/tests/lit.cfg:74: fatal: Could not find llvm-dis`

[2020-06-19 11:06] caballa commented on #48
Same thing, you need to make sure that `llvm-dis` can be found.

[2020-07-26 19:56] #48 closed, assigned to nobody

[2020-07-26 19:57] caballa commented on #15
No need for this domain for now.

[2020-07-26 19:57] #15 closed, assigned to caballa

[2021-05-12 20:50] #42 closed, assigned to nobody

[2021-05-12 20:50] #8 closed, assigned to nobody

[2021-08-20 04:34] yiyuaner opened #52 "Question about assertion checking?"
Hi, I run clam with the following command:
[code]
I have already instrumented `test.bc` with some `__CRAB_assert` checks. When the analysis finishes, `clam` outputs:
[code]
It seems that there should be `128+92=220` checking statements in `test.bc`. However, I find out there are
more (around 700) inserted `__CRAB_assert` checks in `test.bc`.
Why is this happening? Does clam skip the verification f

[2021-08-20 04:56] caballa commented on #52
One possible explanation is that the rest of checks are not reachable (i.e., dead code)  so that the checker never checks them. But it would be helpful if you can share the bitcode so I can double check.

[2021-08-20 05:57] yiyuaner commented on #52
Here is the bit code. The analysis takes approximately 3 hours to finish. The command I used is
[code]
[git.pp.zip](https://github.com/seahorn/clam/files/7019440/git.pp.zip)

[2021-08-20 06:21] yiyuaner commented on #52
You can use the bc below for a quick verification
[goaccess_transed.zip](https://github.com/seahorn/clam/files/7019504/goaccess_transed.zip)

Here is my result:
[code]
Thanks a lot.

[2021-08-21 05:52] caballa commented on #52
`cat goaccess_transed.ll | grep "call void @__CRAB_assert"`:
[code]

There are 17 calls to `@_CRAB_assert` with a constant argument. The translation from LLVM IR to Crab IR ignores those  (https://github.com/seahorn/clam/blob/master/lib/Clam/CfgBuilder.cc#L1403) because the constants are all positive numbers so the assertions trivially hold.

[2021-08-21 05:57] yiyuaner commented on #52
Thanks. Closing then.

[2021-08-21 05:57] #52 closed, assigned to nobody

[2021-08-22 06:55] yiyuaner opened #53 "Question: Out of memory when running on a large bitcode file"
Hi, I run the following command for clam:
[code]
clam runs out of 200GB of memory and throws out `std::bad_alloc` exception:
[code]
The coredump suggests that it is related to the call graph analysis of dsa. However, I think I have already disabled dsa analysis in the above command line. How can I obtain the cheapest (maybe imprecise) command line configuration
for running clam? Thanks for your he

[2021-08-22 23:06] caballa commented on #53
Yes, unfortunately I noticed before that building a precise call graph on programs such as `php` or `sqlite` is already challenging.

I made a fix to avoid building the seadsa call graph if seadsa is not enabled (commit  d82b66a).
Running intra-procedurally and ignoring memory, the analysis takes a bit less than 2 hours on my laptop.

[code]

[2021-08-22 23:08] caballa commented on #53
This is the script I used to built `php`:

[code]

[2021-08-22 23:09] caballa commented on #53
@yiyuaner : I think running the clam memory analysis (seadsa) on programs such as `php` is challenging but possible. It's something that I have it on my TODO list but never got free cycles. Are you interested in `php` for a particular reason or simply testing clam on large programs?

[2021-08-23 01:03] yiyuaner commented on #53
I am just testing abstract interpretation on some large programs. Thanks for your answer, I will give it a try.

[2021-08-23 01:03] #53 closed, assigned to nobody

[2021-11-16 03:10] zunchenhuang opened #58 "/usr/bin/ld: cannot find -lLLVMExtensions"
When I tried to build the clam, in the last few steps: it shows the following.
[ 57%] Built target SeaInstCombine
[ 57%] Building CXX object llvm-seahorn/tools/opt/CMakeFiles/seaopt.dir/AnalysisWrappers.cpp.o
[ 59%] Building CXX object llvm-seahorn/tools/opt/CMakeFiles/seaopt.dir/CallGraphPrinterWrapper.cc.o
[ 61%] Building CXX object llvm-seahorn/tools/opt/CMakeFiles/seaopt.dir/GraphPrinters.cpp.

[2021-11-16 06:29] caballa commented on #58
Probably you are using LLVM 10.0.0 and it's buggy. Instead,  use LLVM 10.0.1.

[2021-11-16 06:32] caballa commented on #58
There is also a branch `dev11` that works with LLVM 11 in case it's easy for you.

[2021-11-16 06:44] zunchenhuang commented on #58
@caballa Thank you so much for the suggestions! You were right LLVM 10.0.0 is buggy and LLVM 11 works smoothly.

[2021-11-16 06:45] #58 closed, assigned to nobody

[2022-02-06 23:35] adrianherrera opened #59 "Tag analysis questions"
Hey there!

I am trying to understand the tag analysis described [here](https://github.com/seahorn/clam/wiki/TagAnalysis). I am hoping to implement a static taint analysis using this, but am a bit confused how to do this using the current `__CRAB_intrinsic_check_does_not_have_tag` assert.

If I want to understand what tags (i.e., taint) can reachable a given location, what is the best way to encod

[2022-02-07 00:01] caballa commented on #59
The tag analysis is quite experimental (i.e., not real users yet)  but I'm happy to help if things need to be changed/modified.

The analysis is a may analysis so it can only prove tags that are not possible.
That intrinsics allows to check if a tag is not possible.

If you use the C++ api then you can ask the analysis for all possible tags for a given instruction:
https://github.com/seahorn/clam/

[2022-02-07 22:06] adrianherrera commented on #59
oh cool, I missed that Clam Query API. Thanks @caballa!

I'll close this issue for now and see how I go.

[2022-02-07 22:06] #59 closed, assigned to nobody

[2022-05-11 17:32] joaoriverd opened #61 "Analyzing FP programs questions"
Hi there!

I'm trying to implement static analysis of floating-point programs. So far when I try to use clam.py float_test.c I don't get any invariant (which makes sense since it only works on integers). I was wondering if I can get some pointers on what would be required to support FP variables in clam so I can try to implement it if possible.

Thank you for all the help!

[2022-05-11 18:25] caballa commented on #61
Yes, unfortunately Clam does not support floating points.

To support FP,  we would need three things:

1) [Crab] Extend CrabIR (the IR used by Clam) to support FP operands and instructions
2) [Crab] An abstract domain that reasons about FP numbers.
3) [Clam] Translate LLVM FP instructions to CrabIR FP instructions

Regarding 2)  if you just want to infer intervals but being sound on FP semantics

[2022-05-16 22:27] adrianherrera opened #62 "Fail to build shared library"
Hey Clam devs!

I am unable to build Clam as a shared library.

Here is my build:

[code]

Doing so gives me a whole bunch of

[code]

Curiously, I don't see this error when building a static lib.

[2022-05-16 23:03] adrianherrera commented on #62
Urgh figured it out; I am blind :)

See https://github.com/seahorn/crab/pull/47

[2022-05-16 23:13] caballa commented on #62
Thanks. I've already merged the crab patch.
I don't remember well but I'm not sure I was able to generate a shared library for Clam.
LMK if you still have problems.

[2022-05-16 23:15] adrianherrera commented on #62
I seem to have built one, so that's a good start.

I also had to make some minor changes to the seadsa CMake files. I'll make a PR in a sec.

[2022-05-16 23:15] #62 closed, assigned to nobody

[2022-05-21 05:16] adrianherrera opened #65 "Question: Why doesn't Clam use SeaDSA's butd-cs analysis?"
Potentially silly question, but it will greatly assist in my understanding.

Thanks folks!

[2022-05-21 05:42] caballa commented on #65
It wouldn't be sound.

The key is Figure 8 (https://jorgenavas.github.io/papers/sea-dsa-SAS17.pdf) that shows two aliasing patterns between callers and callee that cannot happen, otherwise inter-procedural Clam would be unsound:

1) if two formal parameters in the callee alias then the corresponding two parameters cannot point to two disjoint regions.
2) if two formal parameters in the callee do n

[2022-05-21 23:32] adrianherrera commented on #65
Great, makes sense! Thanks Jorge

[2022-05-21 23:32] #65 closed, assigned to nobody

[2022-05-26 08:59] dengyuhui14 opened #66 "Installing Crab with some dependencies installed out-of-the-tree"
Hi there!

What should I do if I want to modify the files in apron library? I install clam using -DCRAB_USE_APRON=ON. I wonder whether the changes I make on apron files will take effect when I run clam.py.

Thank you for all the help!

[2022-05-26 14:57] caballa commented on #66
Download Apron and install it in any location you want.
Then, when you build Crab you can pass the option `-DAPRON_ROOT=<your location for apron>`.

[2022-05-27 02:50] dengyuhui14 commented on #66
Thanks a lot! I have another question. When I modify the apron files, do I have to run these commands from the beginning?

[code]

I notice that it takes quite a long time to build the target `llvm` and the target `install`. I wonder if it is sufficient to run all the commands the first time I installl clam,  and each time I modify apron files I just run `cmake --build . --target crab -DAPRON_ROOT

[2022-05-27 03:15] caballa commented on #66
Yes, you don't need (and you don't want) to build llvm every time.
These commands are executed only the first time and you need them because it installs all dependencies for you but you can install them separately if you want (see comments on the right below):
[code]
After that, you just type `cmake --build . --target install`.
I use Ninja to speed up the build process. For that, you would need to

[2022-05-27 03:32] dengyuhui14 commented on #66
Thank you so much!

I want to know if I understand you correctly. I run all the commands above for the first time. And then each time modify the Apron files, I type `cmake --build . --target apron -DAPRON_ROOT=<my location to Apron> && cmake ..`, and finally type `cmake --build . --target install`

I am so sorry that I am new to cmake. And thank you so much for helping me!

[2022-05-27 04:49] caballa commented on #66
This is what I would do.
1. Install LLVM 10.1 on your own
2. Install Apron on your own

If you don't want to install LLVM by your own then don't pass the option `-DLLVM_DIR` in step 3.

3. Run this command **only the first time**
[code]

Note that I assume that llvm was installed in `/home/jorge/llvm-10.0.1.src/install` and Apron in `/homejorge/apron/install`. Also note that we are building Clam i

[2022-05-27 05:17] dengyuhui14 commented on #66
Thank you so much! This time I fully understand! I will follow the instructions now!

[2022-05-27 11:56] dengyuhui14 commented on #66
I install llvm-10 and apron. Then I type the following command:
[code]
The output is:
[code]

Then I built `extra`:
[code]
And the output:
[code]
However when I built crab:
[code]

I got the following error message:
[code]
I don't know why I get this error. Could you please help me out?

Thank you so much!

[2022-05-27 15:15] caballa commented on #66
Sorry my fault.
You need to update Crab (commit https://github.com/seahorn/crab/commit/926c8595fd9b77fc637d54b88f0757247772a60a)

[2022-05-27 15:43] dengyuhui14 commented on #66
Thank you so much! I am so sorry that I don't know how to update. Is it sufficient that I type build crab again?

Thank you for all the help!

[2022-05-27 15:45] caballa commented on #66
Try

[code]

[2022-05-27 15:50] dengyuhui14 commented on #66
Thanks a lot! I also notice that when I build crab, it gives me the warning that "Unable to build sea-dsa spec files using current compiler!". Should I specify the compiler clang as it say?

Thank you so much!

[2022-05-27 15:51] caballa commented on #66
Yes, but that warning is okay. It's up to you.

[2022-05-27 15:53] dengyuhui14 commented on #66
Ok. Thank you so much!

[2022-05-28 01:40] dengyuhui14 commented on #66
Hi,

When I run `ninja install`, it gives me the error message:
[code]

What should I do?

Thank you for all the help!

[2022-05-28 03:51] caballa commented on #66
It says that it fails but I don't see any error message

[2022-05-28 04:15] dengyuhui14 commented on #66
I'm sorry, but it doesn't print any error message to the command line. Is there some ways to make it print?

[2022-05-28 22:32] caballa commented on #66
Umm I see the `Killed` message, maybe you are compiling in a constraint environment (no much memory) ?
You can run with option `--verbose` and run by yourself the exact command and see if you get more information.
Without error message I cannot help much.

[2022-05-29 00:33] dengyuhui14 commented on #66
Thanks a lot!

I try `ninja install --verbose` and I cannot get more information.

Does it matter that I compile in Windows wsl2 Ubuntu 20.04 LTS? Should I try to install in a complete linux environment?

Thank you for all the help!

[2022-05-29 02:37] caballa commented on #66
Yes, I would try Linux

[2022-05-29 02:38] dengyuhui14 commented on #66
Thanks a lot! I would try Linux.

[2022-05-29 02:54] dengyuhui14 commented on #66
By the way, which Ubuntu distribution should I use? Is it 18.04LTS or 20.04LTS?

Thanks a lot!

[2022-05-29 02:56] caballa commented on #66
20.04

[2022-05-29 02:57] dengyuhui14 commented on #66
OK. Thanks a lot!

[2022-05-29 14:59] dengyuhui14 commented on #66
Hi,

I try ubuntu 20.04. And here is the command I type:
[code]

And when I type `cmake --build . --target crab && cmake ..`, I get some warnings. I don't know whether these warning will cause `ninja install` to fail.
[code]

Then when I type `ninja install`, I get
[code]
I install `llvm` by `sudo apt install llvm` and `clang` by `sudo apt install clang`.

What should I do?

Thank you for all the

[2022-05-29 15:06] caballa commented on #66
The error is clear. it cannot find `clang-format`. sea-dsa, one of the clam's dependencies, needs it.
There is a docker file that it's the one that builds Clam for CI (https://github.com/seahorn/clam/blob/master/docker/clam.Dockerfile) (only for Linux ubuntu). Please take a look. There is a line there that installs `clang-format`.

[2022-05-29 15:42] dengyuhui14 commented on #66
Thanks for pointing out the error for me! I will carefully read the file and install clang-format. Thank you so much!

[2022-05-30 03:12] dengyuhui14 commented on #66
Hi,

when I typed `ninja install`, I still got `FAIL` and  `KILLED`. I check `dmesg`, and I get
[code]
It seems that it ran out of memory and the process was killed. The memory of the computer is 8GB. Are there something I can do to solve this problem? Or I might need to try another computer with larger memory?

Thank you for all the help!

[2022-05-30 14:47] dengyuhui14 commented on #66
Hi Jorge,

I type `ninja install` again and this time it succeed.

I want to see if it is possible to make some improvement to the polyhedra abstract domain based on the ELINA library and Apron library. But first I need to reproduce the experiment in this [paper.](http://elina.ethz.ch/papers/POPL17-Polyhedra.pdf) This paper uses crab-llvm analyzer, but it seems that I can't find crab-llvm. And I d

[2022-05-30 16:21] caballa commented on #66
I'm glad it finally works but I'm surprised that you had memory problems with Apron but not with Elina.
That shouldn't make a difference. 8GB is not much and honestly I haven't had a machine with that small amount of memory in years so it's possible that you need at least a machine with 16GB.

Maybe you were running in VM or within some environment with memory restrictions and increased memory ava

[2022-05-30 17:46] caballa opened #67 "How to reproduce Elina paper results"
This is from https://github.com/seahorn/clam/issues/66. I prefer to open a new issue to address it.

[dengyuhui14](https://github.com/dengyuhui14) wrote:

I want to see if it is possible to make some improvement to the polyhedra abstract domain based on the ELINA library and Apron library. But first I need to reproduce the experiment in this [paper.](http://elina.ethz.ch/papers/POPL17-Polyhedra.pd

[2022-05-30 17:49] caballa commented on #67
crab-llvm was renamed to clam a couple of years ago.  So crab-llvm = clam

In fact, if you type https://github.com/seahorn/crab-llvm then it will
redirected to Clam (https://github.com/seahorn/clam)

To reproduce the results of that paper it shouldn't be hard in theory
but there are some practical considerations to take into account.

First, Clam has been improved a lot, and probably Elina too,
si

[2022-05-30 17:49] caballa commented on #66
@dengyuhui14 : please see https://github.com/seahorn/clam/issues/67

[2022-05-31 03:08] dengyuhui14 commented on #67
Thanks for your answer!

Yes, I should use the latest version of both Clam and Elina.

And thank you so much for pushing the new yaml configuration! I will give it a try!

Yes, the paper mentioned which categories they used. And thanks for telling me which categories you analyzed.

I might try to analyze SVCOMP 19 first.

Thank you so much for your help!

[2022-05-31 15:08] dengyuhui14 commented on #67
Hi,

I go to build/bin, but I cannot find an executable named clam-yaml. What should I do?

Thank you so much!

[2022-05-31 15:17] caballa commented on #67
It's a python script `clam-yaml.py` and it's located in the install directory (same place than `clam.py`). `build/bin` is not the install directory.

[2022-05-31 15:27] dengyuhui14 commented on #67
Thank you so much!

[2022-06-01 02:03] dengyuhui14 commented on #67
Hi,

I got some error while typing this command:
[code]

[2022-06-01 02:49] caballa commented on #67
Try `clam-yaml.py -y ./yaml-configurations/clam.svcomp19.yaml  PROG.c --crab-dom=pk`

[2022-06-01 02:52] dengyuhui14 commented on #67
It works! Thank you so much!

[2022-06-01 14:43] dengyuhui14 commented on #67
Hi Jorge,

I am interested in how Crab invokes functions in Elina. I am going to rewrite `pk` domain in Elina. And when I register the new `pk` domain in Crab, how Crab knows which function to call in my new domain? Am I supposed to implement the same interface as Elina? Or things will be simpler if I directly modify the Elina files instead of registering a new domain?

Thank you for all the help!

[2022-06-01 15:15] caballa commented on #67
You should look at the wrapper in Crab that calls to Elina https://github.com/seahorn/crab/blob/master/include/crab/domains/elina_domains.hpp. If you are going to write a new abstract domain but still use all the Elina datastructures then you can just write a new abstract domain in Elina.  If you look at the above wrapper, it's the same code for zones, octagons and polyhedra. You just need to tell

[2022-06-01 15:24] dengyuhui14 commented on #67
Thank you so much!!!

[2022-06-04 14:41] dengyuhui14 commented on #66
Hi Jorge,

Can I use clang to compile clam and gcc to compile elina? Should I use the same compiler?

Thank you so much!

[2022-06-04 14:55] caballa commented on #66
Different compilers is fine.

[2022-06-04 15:00] dengyuhui14 commented on #66
Thanks a lot!!!

[2022-06-14 08:11] dengyuhui14 commented on #67
Hi Jorge,

I asked the ELINA author for the code they ran. It was `sea pf --crab --crab-dom=opt-pk-elina PROGRAM.c`. And today I should run `python3 clam.py PROGRAM.c --crab-dom=pk` instead of `sea pf`?

Thanks!

[2022-06-14 13:01] caballa commented on #67
They were running the tool SeaHorn (https://github.com/seahorn/seahorn).
The command `sea pf --crab` runs a model checker called Spacer (part of Z3) and clam to prove assertions.
If you want to reproduce exactly what they did then you need to run SeaHorn. The active branch is `dev10`.  Take a look at https://github.com/seahorn/seahorn/issues/440 in case you have problems during installation.

[2022-06-14 13:37] dengyuhui14 commented on #67
Thanks!

Is it the case that clam generates all the invariants and then pass them to Spacer to prove assertions? So only clam calls the abstract domains? If I just want to generate the invariants and then measures the time that different domain take, can I only use clam?

[2022-06-14 13:51] caballa commented on #67
Yes to all your questions, except that Spacer (SeaHorn's model checker) also generates invariants but it doesn't call clam's abstract domains or Elina

[2022-06-14 13:54] dengyuhui14 commented on #67
Thanks a lot!

[2022-07-07 13:42] dengyuhui14 commented on #67
Hi Jorge,

I want to print the elina timer after clam finishes analysis. It seems that the elina author prints the timer [here](https://github.com/eth-sri/ELINA/blob/eaefbbd9b42e0e80c0701b5c20b7906e88fbb954/elina_poly/opt_pk_representation.c#L1279). However clam doesn't call this function now. Where should I put these printing statements? Is there a function that clam always call after finishing a

[2022-07-08 04:44] dengyuhui14 commented on #67
Hi Jorge,

I use clam to analyze a benchmark from svcomp2016. It didn't finish analysis. I tried several times but it didn't help.

I put the benchmark, output file and the script in [this repo](https://github.com/dengyuhui14/study.git).

Could you please help me solve this problem?

Thank you for all the help!

[2022-07-08 16:33] caballa commented on #67
I looked at your example. The program seems challenging. It's relatively big and there are nested loops.
The good thing is that the memory domain instantiated with intervals proves the two assertions in 3s on my Mac M1. It takes double on a AMD chip.

However, I tried next the zones domain (difference constraints) but the analysis already takes too long (around 600s).  If zones takes too long then

[2022-07-09 02:13] dengyuhui14 commented on #67
Thanks for running the example for me!

I think polyhedra should terminate because I ran this example using [virtual machine provided by elina](https://www.sri.inf.ethz.ch/popl18-paper251) and it terminated. Though it took quite a long time, around 2e+12 CPU cycles on the elina side. Result file is [here](https://github.com/dengyuhui14/study/blob/ebeb6ae3bce4e711b9b0ceef895280fe36ba7e4c/results2.c

[2022-07-09 03:47] caballa commented on #67
This is the kind of thing that you shouldn't try. You are running 2018 version of SeaHorn and trying to compare with 2022 Clam. 2018 SeaHorn was calling Clam (option --horn-crab) but that Clam was much less precise than the current one. The translation from LLVM IR to Crab IR was much less precise and the Crab domains were less precise (no memory domains at that time). All of this means that the v

[2022-07-09 05:03] dengyuhui14 commented on #67
Thanks for pointing out my problem!

I am not trying to reproduce POPL'18 with the current version. I am so sorry that I forgot to open a new issue to ask how to use clam with elina polyhedra to analyze this example.

Yes, my goal is to improve elina, therefore I used VM to reproduce the elina paper results and figured out the bottleneck. Then I found analyzing this example took a long time.  So I

[2022-07-09 05:08] caballa commented on #67
Then run 2022 Clam + Elina on all benchmarks and select those which are interesting for you. I don't think you need to run the the POPL'18 VM for that.

[2022-07-09 05:11] dengyuhui14 commented on #67
But I need to know which function of elina is the slowest and clam doesn't allow me to print the timer. I want to know how to do that?

[2022-07-09 05:25] caballa commented on #67
It's a bit involved. The right way is to add a new abstract operation in the `abstract_domain_api` (https://github.com/seahorn/crab/blob/master/include/crab/domains/abstract_domain.hpp#L58).

An alternative, probably easier but a bit hacky is:

Look for instance at https://github.com/seahorn/crab/blob/master/include/crab/domains/abstract_domain_specialized_traits.hpp#L302

1. You can define instea

[2022-07-09 05:50] dengyuhui14 commented on #67
Thank you so much! I get the idea and will try to code it!

[2022-07-10 12:28] dengyuhui14 commented on #67
Hi Jorge,

I got some error in the third step. Here is my code:
[code]
Here is the error message:
[code]
I don't know what to put inside `<>`.

Thanks!

[2022-07-10 16:33] caballa commented on #67
`abs_dom_t`

[2022-07-11 03:19] dengyuhui14 commented on #67
Hi Jorge,

It seems that it doesn't work. It didn't print anything I code in ELINA.

First, I defined the class `stats_domain_traits` in [abstract_domain_specialized_traits.hpp](https://github.com/dengyuhui14/study/blob/2089340e7d526ff5a263ab2536c0af1ce98e5c3b/abstract_domain_specialized_traits.hpp#L307) (I upload the files I modified).

Second, In `elina_domains.hpp`, I instantiate the class `sta

[2022-07-11 03:39] caballa commented on #67
Are you sure that line https://github.com/dengyuhui14/study/blob/2089340e7d526ff5a263ab2536c0af1ce98e5c3b/elina_domains.hpp#L97 is the correct way to print stats with elina? I would expect that you need to pass the manager and even a pointer to an abstract state.

For instance, I call to `elina_abstract0_fprint` here https://github.com/seahorn/crab/blob/master/include/crab/domains/elina_domains.hp

[2022-07-11 04:10] dengyuhui14 commented on #67
Thanks a lot! I call the `elina_abstract0_fprint` in a wrong way. I will try to pass the manager. Since I define `print_stats()`  as a static method, I can't use the `apstate`. I will change the `elina_abstract0_fprint` so that it doesn't need a `apstate`.

[2022-07-11 04:27] dengyuhui14 commented on #67
It doesn't work. In `elina_domains.hpp`, I call `elina_abstract0_fprint(stdout, get_man(), NULL, NULL);`.

I've changed the code in elina as the following, so that it doesn't require a `elina_abstract0_t`. And I also change the function `ptr` so that it doesn't requires a `elina_abstract0_t`.
[code]

[2022-07-12 02:43] dengyuhui14 commented on #67
Hi Jorge,

I put some `fprintf` statements in `fwd_analyzer.hpp`

[code]

and in `elina_domains.hpp` where I instantiate the class
[code]
and in class `elina_domain`:
[code]

Only the `fprintf` in the `fwd_analyzer.hpp` prints, the other two `fprintf` have no output. The output is like:

[code]

It seems that it didn't enter the function `stats_domain_traits::print_stats`.

[2022-07-21 15:43] caballa commented on #67
I'll close this issue. Feel free to open new issues if you have more questions.

[2022-07-21 15:43] #67 closed, assigned to nobody

[2022-07-21 15:44] #66 closed, assigned to nobody

[2022-07-21 15:44] caballa commented on #61
I hope I didn't scare you. I'll close this issue for now. Feel free to re-open it if you have more questions.

[2022-07-21 15:44] #61 closed, assigned to nobody

[2022-09-09 08:39] foonathan opened #68 "Function @verifier.assume has invalid attributes"
When using clam to insert invariants, it declares a function @verifier.assume:

[code]

However, attempting to disassemble the bitcode to LLVM IR generates an error as the function should also have the noinline attribute:

[code]

I had to patch LLVM to get the .ll file and see what's going on by removing the following line: https://github.com/llvm/llvm-project/blob/97d00b72a2b0a7aca631e1402a647f3

[2022-09-09 16:01] caballa commented on #68
Fix in commit https://github.com/seahorn/clam/commit/6b684473c44c7cd9d5368f853c441791c09d9f35.

@foonathan thanks for reporting it!

[2022-09-09 16:01] #68 closed, assigned to nobody

[2022-09-10 16:51] foonathan commented on #68
Thanks for the quick fix!

[2022-10-28 15:31] bjjwwang opened #69 "question about --crab-bounds-check"
Hi Seahorn Team,

Q1: is --crab-bounds-check for buffer overflow?
Q2: I don't find documentation regarding this option, is it deprecated?
Q3: I open this option but return `-- Inserted 0 bound checks` every time, Do I need to insert something to source code to enable it?

Thank you.

[2022-10-28 17:04] caballa commented on #69
Hi @bjjwwang , thank you for using clam.

You are right that there is no documentation. I'll try to add some soon.
The only kind of documentation is to type `clam.py --help`:

[code]

The option `bounds` in `clam.py` corresponds to the the `clam` executable option `--crab-bounds-check` that you are referring to. This option is kind of deprecated because it's incomplete. This option will add at the

[2022-11-03 21:10] caballa commented on #69
Let me know if you have more questions. I'll close this issue for now

[2022-11-03 21:10] #69 closed, assigned to nobody

[2022-11-04 00:18] bjjwwang commented on #69
I am still studying that. thank you so much for your answer.